@model IEnumerable<AccountTemplate.ViewModels.UserRolesVM>

@{
    ViewData["Title"] = "Users with Roles";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .card {
            margin: 0 auto;
            max-width: 80%;
        }

        table {
            text-align: center;
            margin: 0 auto;
            width: 100%;
        }

        th, td {
            vertical-align: middle;
        }

        .create-button {
            margin-bottom: 20px;
            float: right;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h2 class="text-center mt-4">@ViewData["Title"]</h2>

    <div class="card">
        <div class="card-header clearfix">
            <h3 class="card-title">User List</h3>
            <a class="btn btn-success create-button float-right" asp-controller="Account" asp-action="RegisterWithRole"> Create New User With Role</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="userTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@string.Join(", ", user.Roles)</td>
                            <td>
                                <a asp-action="AssignRole" asp-route-email="@user.Email" class="btn btn-success btn-sm">Assign Role</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</body>
</html>
