@model IEnumerable<AccountTemplate.ViewModels.ProfileVM>

@{
    ViewData["Title"] = "List Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .card {
            margin: 0 auto;
            max-width: 80%;
        }

        table {
            text-align: center;
            margin: 0 auto;
        }

        th, td {
            vertical-align: middle;
        }

        .create-button {
            margin-bottom: 20px;
            float: right;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h2 class="text-center mt-4">@ViewData["Title"]</h2>

    <div class="card">
        <div class="card-header clearfix">
            <h3 class="card-title">List Profiles</h3>       
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Business Name</th>
                        <th>Phone</th>
                        <th>Primary Email</th>
                        <th>Secondary Email</th>
                        <th>User Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profileVM in Model)
                    {
                        <tr>
                            <td>@profileVM.BusinessName</td>
                            <td>@profileVM.Phone</td>
                            <td>@profileVM.PrimaryEmail</td>
                            <td>@profileVM.SecondaryEmail</td>
                            <td>@profileVM.UserName</td>
                            <td>
                                <a href="@Url.Action("Edit", "Profile")" class="btn btn-primary btn-sm" style="box-shadow: none;"><b>Edit Profile</b></a>
                                <a asp-controller="User" asp-action="AssignBranches" class="btn btn-success btn-sm">Assign Branch</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</body>
</html>
